header{
  background-color:#eeeeee
}

.titre 
{
  text-align:center;
}
nav{
  background-color:white;
  text-align: center;
}

ul li{
  color:#FFFFFF;
  display:inline;
}

ul a{
  color:#96E0FA;
  border-bottom: 1px dashed black;
  text-decoration:none;
}

*{
  font-family: :Sans-serif; 
}

.gauche a{
  color:#96E0FA;
  float:left;
  border-bottom:1px dashed black; 
  text-decoration: none;
}

.droite a{
  color:#96E0FA;
  float:right;
  border-bottom: 1px dashed black;
  text-decoration: none;
}
.informaticien{
  float:left;
}

article{
  border:1px solid lightgray;
}

.titre{
  height:55px;
  line-height:75px;
}

aside{
  border:1px solid black;
}

article:first-of-type{
  float:left;
  width:50%;
}

article:nth-of-type(3){
  float:left;
  width:50%;
}
img{
  margin:10px;
  height:115px;
  width:85px;
  float:right
}


